<li class="card">
  <h5><%= link_to "#{event.name}: ", event %><h5>
  <span><%= event.description %></span>
  <p>
  	capacity: <%= event.capacity %> |
  	min age: <%= event.min_age %> |
  	max age: <%= event.max_age %> |
  	opens: <%= event.open_date.strftime("%m/%d/%y") %> |
  	closes: <%= event.close_date.strftime("%m/%d/%y") %>
  </p>

  <% if is_owner?(event.producer) %>
    <%= link_to "Edit", edit_event_path(event) %> | 
    <%= link_to "Delete", event, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>