<% provide :title, "Edit Event"%>
<h1>Edit Event</h1>
<%= form_for @event do |f| %>
 	<% @object_with_errors = @event %>
	<%= render 'shared/error_messages' %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control' %>

  <%= f.label :capacity %>
  <%= f.number_field :capacity, class: 'form-control' %>

  <%= f.label :min_age %>
  <%= f.number_field :min_age, class: 'form-control' %>

  <%= f.label :max_age %>
  <%= f.number_field :max_age, class: 'form-control' %>

  <%= f.label :open_date %>
  <%= f.date_select :open_date, class: 'form-control' %>

  <%= f.label :close_date %>
  <%= f.date_select :close_date, class: 'form-control' %>

  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>

<p>Find me in app/views/events/edit.html.erb</p>