<% provide :title, "Sign Up"%>
<h1>Accounts#new</h1>
<%= form_for(@account, url: signup_path) do |f| %>
 	<% @object_with_errors = @account %>
	<%= render 'shared/error_messages' %>

	<%= f.fields_for :user do |p| %>

	  <%= p.label :first_name %>
	  <%= p.text_field :first_name %>

	  <%= p.label :last_name %>
	  <%= p.text_field :last_name %>

	  <%= p.label :social_id %>
	  <%= p.text_field :social_id %>

	  <%= p.label :birth_date %>
	  <%= p.date_select :birth_date, start_year: 1950, end_year: Date.today.year %>

	  <%= p.label :gender %>
	  <%= p.select :gender, [['Hombre', 0], ['Mujer', 1]] %>

	<% end %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Create", class: "" %>
<% end %>
