<% provide(:title, "#{@purchase.buyer.first_name}'s purchase") %>
<h1>
<%= @purchase.buyer.full_name %>
</h1>
<h2><%= @purchase.offer.product.name %></h2>
<p><%= @purchase.date %></p>
<p><%= @purchase.price_paid %></p>
<p><%= @purchase.status %></p>

 